aiofiles==24.1.0
aioshutil==1.5
aiosqlite==0.21.0
bcrypt==4.3.0
caio==0.9.24
celery==5.5.2
docker==7.1.0
fastapi[standard]==0.115.12
httpx==0.28.1
loguru==0.7.3
pathvalidate
pex==2.38.1
PyJWT==2.10.1
pytest-asyncio==0.26.0
pytest==8.3.5
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pywin32==310; sys_platform == "win32"
requests==2.32.3
sqlmodel==0.0.24
toml==0.10.2
uvicorn==0.34.2
